body {
  background-color: #060606;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
  font-size: 38px;
  line-height: 48px;
  margin: 10px 0 20px 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  height: 56px;
  width: 100%;
  max-width: 991px;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #957aa5;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.22px;
  padding: 5px;
  text-align: center;
  flex: 1;
}

.nav-item:before {
  content: '';
  background-color: #060606;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 2px);
  width: 100%;
  opacity: 0.44;
}

.nav-item span {
  z-index: 1;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.content {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.content::-webkit-scrollbar {
  display: none;
}

.section {
  min-height: 80%;
  position: sticky;
  top: 56px;
  z-index: 2;
  padding: 30px 40px;
  display: flex;
  color: #d3a947;
  margin: 0 auto;
  max-width: 991px;
}

.section-inner {
  width: 50%;
  min-width: 400px;
}

.section p {
  font-size: 18px;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}

.section-1,
.section-3,
.section-5 {
  background-color: #281e2e;
}

.section-2,
.section-4,
.section-6 {
  justify-content: flex-end;
  text-align: right;
  background-color: #1d1620;
}

.nav-mark {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 991px;
  min-height: calc(100vh - 183px);
  margin: 0 auto;
  transform: translate(0, -80px);
  z-index: 1;
}

.nav-mark:before {
  content: '';
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #957aa5 5%, #ffffff 25%, #ffffff 65%, #957AA5 95%, rgba(0,0,0,0) 100%);
  left: 0;
  top: 0;
  position: absolute;
  width: calc(50% / 3);
}

.nav-mark-2:before  {
  left: calc(50% / 3);
}

.nav-mark-3:before  {
  left: calc(100% / 3);
}

.nav-mark-4:before  {
  left: 50%;
}

.nav-mark-5:before  {
  left: calc(200% / 3);
}

.nav-mark-6:before  {
  left: calc(250% / 3);
}

.section-end {
  background-color: #060606;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 40px);
}

.section-end span {
  color: #f3f3f3;
  font-family: monospace;
  font-size: 52px;
  letter-spacing: 2.35px;
  transform: scale(0.92);
}