.blind {  /* class名「blind」のゾーン（マスキング箇所）のスタイリングを記述 */
  background-color: red;  /* 赤いマスキングカラーを設定 */
}

.text {  /* class名「text」のゾーン（答えのテキスト）のスタイリングを記述 */
  opacity: 0;  /* 通常時は透過度（opacity）をゼロにし、見えないように設定 */
}

.text:hover {  /* class名「text」のゾーン（答えのテキスト）に、マウスがホバーした時のスタイリングを記述 */
  opacity: 1;  /* マウスがホバーしたときは透過度（opacity）を100%にして見えるように設定 */
}